{{#each meta-type}}
    {{#if meta-link}}
        <div class="c-post-meta c-post-meta--{{post-meta}}">
            <svg class="o-icon u-mr-1" aria-hidden="true">
                <use href="#icon-{{post-meta}}"></use>
            </svg>
            {{#if responses}}
            <a class="c-post-meta__link" href="#responses">
                {{responses}} {{post-meta}}
            </a>
            {{/if}}
            {{#if lang}}
            <a class="c-post-meta__link" lang="es" href="/es">
                {{lang}}
            </a>
            {{/if}}
            {{#if location}}
            <a class="c-post-meta__link p-location h-geo" href="#">
                {{location}}
            </a>
            {{/if}}
        </div>
    {{else}}
        <div class="c-post-meta c-post-meta--{{post-meta}}">
            <svg class="o-icon u-mr-1" aria-hidden="true">
                <use href="#icon-{{post-meta}}"></use>
            </svg>
            {{#if weather}}
                {{weather}}
            {{/if}}
            {{#if time}}
                {{time}}
            {{/if}}

            {{#if read}}
                <span class="u-text-transform--initial">{{read}}</span>
            {{/if}}

            {{#if date}}
                <span>{{date}} <span class="c-post__meta-item--date__time">at {{ post-time }}</span></span>
            {{/if}}
        </div>
    {{/if}}
{{/each}}