<div class="h-entry c-post o-stack o-stack--lg@md">
    <div class="c-post__meta c-post__meta--date">
        <h1 class="c-post__meta-item c-post__meta-item--date">
            {{render '@post-meta'}}
        </h1>
    </div>
    <div class="c-post__content e-content p-name o-stack--sm">
        {{#if link}}
        <div class="c-post__context h-cite o-stack--xs">
            <h1 class="c-post__context-heading c-post__context-heading--link">
                <a href="{{ context-url }}">
                    {{ link-title }}
                </a>
            </h1>
            <div class="c-post__context-content c-post__context-content--link c-post__context-text post-text e-content">
                {{context-text}}
            </div>
        </div>
        {{/if}}
        {{#if reply}}
        <div class="c-post__context h-cite o-stack--xxs">
            <h4 class="c-post__context-heading">
                Replied to
            </h4>
            {{> @user-post}}
        </div>
        {{/if}}
        {{#if photo }}
            <img class="u-photo c-note--photo__img" src="{{photo-url}}" alt="{{photo-alt}}">
        {{/if}}
        {{#if video }}
            <video class="u-video c-note--video__item" controls="controls" poster="{{ vide-poster }}" src="{{ video-url }}">
            {{video-alt}}
            </video>
        {{/if}}
        {{#if note-text}}
        <div class="c-post__text o-stack--sm">
            {{{note-text}}}
        </div>
        {{/if}}
        {{#if repost}}
        <div class="c-post__context c-post__context--repost h-cite o-stack--xxs">
            {{> @user-post}}
        </div>
        {{/if}}
    </div>
    <div class="c-post__meta o-stack--xxs@md">
        {{> '@post-meta'}}
        <div class="c-post__meta-item c-post__meta-item--tags">
            {{#each tag-item}}
                {{> '@tag'}}
            {{/each}}
        </div>
    </div>
    {{#if footer}}
    <footer class="c-post__footer o-stack--sm o-stack@md">
        {{!-- <div class="c-post__interactions">
            {{#if likes}}
            <span class="c-post__interactions-item">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-like"></use>
                </svg>
                {{likes}}
            </span>
            {{/if}}
            {{#if comments}}
            <span class="c-post__interactions-item">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-responses"></use>
                </svg>
                {{comments}}
            </span>
            {{/if}}
            {{#if reposts}}
            <span class="c-post__interactions-item">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-like"></use>
                </svg>
                {{reposts}}
            </span>
            {{/if}}
        </div> --}}
        {{#if reaction}}
        <div class="c-post__reactions">
            {{#each reaction}}
            <div class="c-post__reactions-{{#if likes}}likes{{/if}}{{#if reposts}}reposts{{/if}}">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-{{#if likes}}like{{/if}}{{#if reposts}}repost{{/if}}"></use>
                </svg>
                {{> @avatar-list}}
            </div>
            {{/each}}
            {{#if comments}}
            <div class="c-post__reactions-comments">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-comments"></use>
                </svg>
                <span class="c-post__reactions-comments-number">
                    {{comments}}
                </span>
            </div>
            {{/if}}
        </div>
        {{/if}}
        {{#if post-actions}}
        <div class="c-post__actions">
            <a href="#" class="c-btn c-btn--subtle c-btn--icon">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-reply"></use>
                </svg>
                Reply
            </a>
            <a href="#" class="c-btn c-btn--subtle c-btn--icon">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-repost"></use>
                </svg>
                Retweet
            </a>
            <a href="#" class="c-btn c-btn--subtle c-btn--icon">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-like"></use>
                </svg>
                Like
            </a>
            <a href="#" class="c-btn c-btn--subtle c-btn--icon">
                <svg class="o-icon" aria-hidden="true">
                    <use href="#social-twitter"></use>
                </svg>
            </a>
        </div>
        {{/if}}
        {{#if comments}}
        <section class="o-stack--sm">
            <h2 class="o-heading--md">Replies</h2>
            {{> @comments}}
        </section>
        {{/if}}
    </footer>
    {{/if}}
</div>