<div class="h-entry c-post o-stack">
    <div class="c-post__meta c-post__meta--date">
        <h1 class="c-post__meta-item c-post__meta-item--date">
            {{render '@post-meta'}}
        </h1>
    </div>
    <div class="c-post__content e-content p-name o-stack--sm">
        {{#if link}}
        <div class="c-post__context h-cite o-stack--xs">
            <h1 class="c-post__context-heading c-post__context-heading--link">
                <a href="{{ context-url }}">
                    {{ link-title }}
                </a>
            </h1>
            <div class="c-post__context-content c-post__context-text post-text e-content">
                {{context-text}}
            </div>
        </div>
        {{/if}}
        {{#if reply}}
        <div class="c-post__context h-cite o-stack--xxs">
            <h4 class="c-post__context-heading">
                Replied to
            </h4>
            <div class="c-post__context-content h-cite u-in-reply-to o-stack--xs">
                <header class="c-post__context-header">
                    <span class="c-post__context-author p-author h-card">
                        <img class="c-post__context-avatar u-photo" src="{{context-avatar}}" alt="Author avatar" width="48">
                        <a class="c-post__context-author-name p-name u-url author_url" href="{{context-author-url}}">{{context-author}}</a>
                    </span>
                    <a href="{{context-url}}" class="c-post__context-date u-url"><time class="dt-published" datetime="2021-06-14T18:27:27Z">Jun 14, 2021 at 6:27 p.m.</time></a>
                </header>
                <div class="c-post__context-text post-text e-content">
                    {{context-text}}
                </div>
            </div>
        </div>
        {{/if}}
        <div class="o-stack--xs">
            {{{note-text}}}
        </div>
    </div>
    <div class="c-post__meta o-stack--xxs">
        {{> '@post-meta'}}
        <div class="c-post__meta-item c-post__meta-item--tags u-mt-2">
            {{#each tag-item}}
                {{> '@tag'}}
            {{/each}}
        </div>
    </div>
    {{#if footer}}
    <footer class="c-post__footer">
        <div class="c-post__interactions">
            {{#if likes}}
            <span class="c-post__interactions-item">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-like"></use>
                </svg>
                {{likes}}
            </span>
            {{/if}}
            {{#if comments}}
            <span class="c-post__interactions-item">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-responses"></use>
                </svg>
                {{comments}}
            </span>
            {{/if}}
            {{#if reposts}}
            <span class="c-post__interactions-item">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-like"></use>
                </svg>
                {{reposts}}
            </span>
            {{/if}}
        </div>
        {{#if post-actions}}
        <div class="c-post__actions">
            <a href="#" class="c-btn c-btn--subtle u-d-flex u-align-items-center">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-reply"></use>
                </svg>
                Reply
            </a>
            <a href="#" class="c-btn c-btn--subtle u-d-flex u-align-items-center">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-repost"></use>
                </svg>
                Retweet
            </a>
            <a href="#" class="c-btn c-btn--subtle u-d-flex u-align-items-center">
                <svg class="o-icon u-mr-1" aria-hidden="true">
                    <use href="#icon-like"></use>
                </svg>
                Like
            </a>
            <a href="#" class="c-btn c-btn--subtle u-d-flex u-align-items-center">
                <svg class="o-icon" aria-hidden="true">
                    <use href="#social-twitter"></use>
                </svg>
            </a>
        </div>
        {{/if}}
    </footer>
    {{/if}}
</div>